.personaWithVote {
  position: relative;

  .voteIcon {
    position: absolute;
    border-radius: 100%;
    display: flex;
    left: 60%;
    top: 60%;
  }
}

.pullRequestColumn {
  padding: 4px 12px;
}