.settingTitle {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.settingItem {
  padding: 2px;
}

.panelPrimaryButton:hover {
  background-color: rgb(121, 181, 255) !important;
}